/* Sombra para todas las tarjetas de noticias y eventos */
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border: none !important; /* Quitamos el borde para que la sombra luzca mejor */
}
/* Efecto opcional: La sombra se intensifica al pasar el mouse */
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}

/*ESTILOS PARA LA VISTA DE EVENTOS*/
.border-theme-blue { border-color: #3b82f6; } /* border-blue-500 */
.border-theme-pink { border-color: #ec4899; } /* border-pink-500 */
.border-theme-green { border-color: #10b981; } /* border-emerald-500 */
.bg-active-tag { background-color: #dbeafe; color: #1d4ed8; } /* bg-blue-100, text-blue-700 */