.categories-container {
    display: flex;
    gap: 18px;
    overflow-x: auto;
    padding-bottom: 10px;
    position: relative;
    z-index: 10;
}

/* 🔥 BOTONES INTEGRADOS AL TEMA */
.category-btn {
    flex: 1;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: rgba(255, 255, 255, 0.05);

    /* 🔥 BORDE MÁS VISIBLE */
    border: 2px solid rgba(230, 22, 22, 0.25);
    border-radius: 18px;

    backdrop-filter: blur(8px);
    

    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 14px;

    transition: all 0.25s ease;

    position: relative;
    z-index: 1;
}

/* icono */
.category-btn .icon {
    font-size: 30px;
    margin-bottom: 8px;
}

/* hover moderno */
.category-btn:hover {
    border-color: rgba(0, 0, 0, 0.6);
    background: rgba(255, 255, 255, 0.12);
}

/* click */
.category-btn:active {
    transform: scale(0.95);
}
